{% extends 'base.html' %}


{% block encabe %}
<div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="d-sm-flex align-items-baseline report-summary-header">
          <h3 class="font-weight-semibold">
            ¿Para qué son las actividades?     
          </h3> <span class="ml-auto">
        </div>
      </div>
    </div>
    <div class="row report-inner-cards-wrapper">
        Estas actividades son para trabajar en familia, con ellas se intentará crear o fortalecer el vínculo familiar.
  </div>              
{% endblock encabe %}

{% block encabezado %}
    Lista de Actividades
{% endblock encabezado %}

{% block titulo %}
Actividades
{% endblock titulo %}

{% block contenido %}
    <table class="table">
        <thead>
            <tr>
                {% for grupo in request.user.groups.all %}
                <th>Nombre de la Actividades</th>
                    {% if 'Administrador' in grupo.name %}
                    <th>Opciones</th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for actividad in object_list  %}
                <tr>
                    <td>
                        <a href="{% url 'atividadVista' actividad.id %}"> {{actividad.nombreActividad}} </a>
                    </td>
                    <td>
                        {% for grupo in request.user.groups.all %} 
                            {% if 'Administrador' in grupo.name %}
                            <a class="btn btn-danger" 
                            href="{% url 'eliminar_actividad' actividad.id %}">
                            Eliminar
                        </a>
                        <a class="btn btn-success" 
                            href="{% url 'editar_actividad' actividad.id %}">
                            Editar
                        </a>
                            {% endif %}
                        {% endfor %}
                        
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">
                        <p>No existen Actividades registradas</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table><a href="{% url 'bienvenida'%}"> <- Regresar a la bienvenida</a><br>
    
{% endblock contenido %}