{% extends 'base.html' %}
{% load static %}

{% block encabezado %}
    Discapacidad
{% endblock encabezado %}
    

{% block titulo %}
    Discapacidad
{% endblock titulo %}

{% block contenido %}
    <form method="post" enctype="multipart/form-data" class="post-form">
        {% csrf_token %}
        {{form.as_p}}
        <input class="btn btn-success" type="submit" value="Guardar">
        <a class="btn btn-danger" href="{% url 'lista_Discapacidades' %}">Regresar</a>

    </form>
    
    
{% endblock contenido %}