{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
      {% block titulo %}
        
      {% endblock titulo %}
    </title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'vendors/simple-line-icons/css/simple-line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" /> <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'favicon.png' %}" />

    {% block css %}
    
    {% endblock css %}
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex align-items-center">
          <a class="navbar-brand brand-logo" href="{% url 'bienvenida'%}"> <h1>CAP-HDF</h1> 
          </a>
          <a class="navbar-brand brand-logo-mini" href="{% url 'bienvenida'%}"><img src="{% static 'images/logoS.png' %}" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center flex-grow-1">
          <h5 class="mb-0 font-weight-medium d-none d-lg-flex">CAP-HDF</h5>
          <ul class="navbar-nav navbar-nav-right ml-auto">
            <form class="search-form d-none d-md-block" action="#">
              
              
            </form>

            <li class="nav-item dropdown">
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="messageDropdown">
                <a class="dropdown-item py-3">
                  <p class="mb-0 font-weight-medium float-left">You have 7 unread mails </p>
                  <span class="badge badge-pill badge-primary float-right">View all</span>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="{% static 'images/faces/face10.jpg' %}" alt="image" class="img-sm profile-pic">
                  </div>
                  <div class="preview-item-content flex-grow py-2">
                    <p class="preview-subject ellipsis font-weight-medium text-dark">Marian Garner </p>
                    <p class="font-weight-light small-text"> The meeting is cancelled </p>
                  </div>
                </a>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="{% static 'images/faces/face12.jpg' %}" alt="image" class="img-sm profile-pic">
                  </div>
                  <div class="preview-item-content flex-grow py-2">
                    <p class="preview-subject ellipsis font-weight-medium text-dark">David Grey </p>
                    <p class="font-weight-light small-text"> The meeting is cancelled </p>
                  </div>
                </a>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="{% static 'images/faces/face1.jpg' %}" alt="image" class="img-sm profile-pic">
                  </div>
                  <div class="preview-item-content flex-grow py-2">
                    <p class="preview-subject ellipsis font-weight-medium text-dark">Travis Jenkins </p>
                    <p class="font-weight-light small-text"> The meeting is cancelled </p>
                  </div>
                </a>
              </div>
            </li>
            <li class="nav-item dropdown d-none d-xl-inline-flex user-dropdown">
              <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <span class="font-weight-normal"> 
                  {% if request.user.username %}
                    {{request.user.username}}
                  {% else %}
                    <a href="{% url 'login' %}" class="text-primary">Iniciar secion</a>
                  {% endif %}
                </span></a>  

              {% if request.user.username %}
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                <div class="dropdown-header text-center">
                  <p class="mb-1 mt-3">{{request.user.username}}</p>
                  <p class="font-weight-light text-muted mb-0">{{request.user.email}}</p>
                </div>
                {% if user.datos.curp %}
                  <h3 class="dropdown-item">
                    <a href="{% url 'perfilEditar' %}" class="dropdown-item">Editar Perfil</a>
                  </h3>   
                {% else %}
                  <h3 class="dropdown-item">
                    <a href="{% url 'perfil' %}" class="dropdown-item">Crear Perfil</a>
                  </h3>
                {% endif %}
                <a href="{% url 'logout' %}" class="dropdown-item"><i class="dropdown-item-icon icon-power text-primary"></i>Cerrar sesion</a>
              </div>
              {% endif %}
            </li>
            
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="icon-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile">
              <a class="nav-link">
                <div class="text-wrapper">
                  {% if request.user.username %}

                    {{request.user.username}}
                    {% for grupo in request.user.groups.all %} 
                      {% if 'Administrador' in grupo.name %}
                      <div><p class="designation">(Administrador)</p></div>
                      {% endif %}
                    {% endfor %}
                    <a href="{% url 'logout' %}" class="designation">Cerrar sesion</a>
                  {% else %}
                    <a href="{% url 'login' %}" class="designation">Iniciar sesion</a>
                  {% endif %}
                  
                </div>
                
              </a>
            </li>
            <li class="nav-item nav-category"><span class="nav-link">Opciones del sistema</span></li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <span class="menu-title">¿Qué es la discapacidad?</span>
                <i class="icon-doc menu-icon"></i>
              </a>
              <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="{% url 'lista_Discapacidades' %}"> Tipo de discpacidades </a></li>
                  <li class="nav-item"> <a class="nav-link" href="{% url 'actividad_Lista' %}"> Actividades </a></li>
                  
                </ul>
              </div>
            {% for grupo in request.user.groups.all %} 
              {% if 'Administrador' in grupo.name %}
              <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <span class="menu-title">Discapacidades</span>
                <i class="icon-doc menu-icon"></i>
              </a>
              <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="{% url 'lista_Discapacidades' %}"> Tipo de discpacidades </a></li>
                  <li class="nav-item"> <a class="nav-link" href="{% url 'nueva_discapacidad' %}"> Nueva discapacidad </a></li>
                  
                </ul>
              </div>
              <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <span class="menu-title">Actividades</span>
                <i class="icon-doc menu-icon"></i>
              </a>
              <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="{% url 'actividad_Lista' %}"> Lista de actividades </a></li>
                  <li class="nav-item"> <a class="nav-link" href="{% url 'nueva_actividad' %}"> Nueva Actividad </a></li>
                  
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <span class="menu-title">Usuarios</span>
                <i class="icon-doc menu-icon"></i>
              </a>
              <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="{% url 'lista' %}"> Usuarios del sistema </a></li>
                </ul>
              </div>
            </li>
              {% endif %}
            {% endfor %}
            
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">



          
          <div class="content-wrapper">
            <div class="row">
              <div class="col-md-12 grid-margin">
                <div class="card">
                  {% block encabe %}
                  {% endblock encabe %} 
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="d-sm-flex align-items-baseline report-summary-header">
                          <h5 class="font-weight-semibold">
                            {% block encabezado %}
                              
                            {% endblock encabezado %}
                          </h5> <span class="ml-auto">
                        </div>
                      </div>
                    </div>
                    <div class="row report-inner-cards-wrapper">
                      {% block contenido %}
              
                      {% endblock contenido %}
                      {% block imagenes %}
    
                      {% endblock imagenes %}
                      {% block contenido2 %}
              
                      {% endblock contenido2 %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">

          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'js/off-canvas.js' %}"></script>
    <script src="{% static 'js/misc.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <!-- End custom js for this page -->
    {% block scripts %}

  {% endblock scripts %}
  </body>
</html>