{% extends 'base.html' %}
{% load static %}

{% block encabezado %}
<h1>¡BIENVENIDO A CAP-HDF!</h1>
{% endblock encabezado %}

{% block titulo %}
BIENVENIDO A CAP-HDF
{% endblock titulo %}

{% block contenido %}

    <h3>DEBERIAMOS ESTAR ORGULLOSOS DE NUESTRAS DIFERENCIAS.<br>PORQUE, EN EL FONDO,<br>¿QUÉ ES SER NORMAL?<br>¿Y QUÉ ES SER DIFERENTE?<br></h3>

{% endblock contenido %}


{% block imagenes %}
<div>
    <br>
        <img src="{% static 'images/imagJuanjo.PNG' %}" height="300px" alt="imagJuanjo">
        <img src="{% static 'images/imag2Juanjo.PNG' %}" height="300px" alt="imag2Juanjo">
    <br/>
</div>

{% endblock imagenes %}
    
{% block contenido2 %}

<div>
    <h4>
        <br>
        Es un sitio confiable
        para obtener información acerca de
        niños con discapacidades físicas.
    </h4>
</div>

<div>
    <h4>
        <br>
        Podrá encontrar videos y
        herramientas de salud diseñadas
        para ayudar a las familias a
        aprender y crecer.
    </h4>
    <h3>
        <br>
        Objetivo General
    </h3>
    <h4>
        <br>
        Ayudar a padres que tienen algún hijo o
        hija con alguna discapacidad fisica.
    </h4>

    <h3>
        <br>
        Objetivos Específicos
    </h3>
    <h4>
        <br>
        1.- Fortalecer la orientación a los padres con hijos que presentan discapacidad física.
    </h4>
    <h4>
        <br>
        2.- Contribuir a los padres al mejoramiento de la calidad de vida de niños con discapacidad.
    </h4>
    <h4>
        <br>
        3.- Brindar a los padres de familia herramientas que ayuden a encauzar
        la crianza de niños con
        discapacidad
    </h4>
</div>
{% endblock contenido2 %}
